<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <!-- Icon de acerca de -->
      <ion-button (click)="goToDetailsPage()">
        <ion-icon name="information-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Directorio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-list>
      <ion-item *ngFor="let item of items; let index">
        <ion-avatar slot="start">
          <img [src]="item.image" alt="Avatar" />
        </ion-avatar>
        <ion-label>
          <h2>{{item.name}}</h2>
          <h3>{{item.number}}</h3>
        </ion-label>
        <!-- Icono del telefono -->
        <ion-icon name="call-outline" slot="end"></ion-icon>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content loadingText="Espere por favor..." loadingSpinner="bubbles"></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
