<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- Icon de acerca de -->
      <ion-back-button defaultHref="/"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Acerca de</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Quitar margen -->
<ion-content class="ion-no-margin ion-no-padding">
  <ion-list>
    <ion-item-group class="ion-no-margin ion-no-padding">
      <ion-item-divider>
        <ion-label>Creado por</ion-label>
      </ion-item-divider>
      <ion-item>
        <ion-avatar slot="start">
          <img src="https://ui-avatars.com/api/?name=Miguel+Portillo&background=0D8ABC&color=fff&size=128" alt="Avatar" />
        </ion-avatar>
        <ion-label>
          <!-- <label for="">creado por</label> -->
          <h2>Miguel Portillo</h2>
          <h3>
            <ion-icon name="mail-unread-outline"></ion-icon>
            mipor.278@gmail.com
          </h3>
          <h3>
            <ion-icon name="git-branch-outline"></ion-icon>
            <!-- Link al navegador -->
            <a href="https://github.com/MiguelDPP">github.com/MiguelDPP</a>
            <!-- https://github.com/MiguelDPP/Actividad-Ionic.git -->
          </h3>
        </ion-label>
      </ion-item>
      <ion-item-divider>
        <ion-label>Acerca de la App</ion-label>
      </ion-item-divider>
      <ion-item>
        <ion-label>
          <h3>
            Herramientas utilizadas
          </h3>
          <ol>
            <li>
              Faker
            </li>
            <li>
              API Picsum Photos
            </li>
            <li>
              API UI Avatars
            </li>
          </ol>
          <h3>
            <ion-icon name="git-branch-outline"></ion-icon>
            Repositorio: 
            <!-- Link al navegador -->
            <a href="https://github.com/MiguelDPP/Actividad-Ionic.git">github.com/MiguelDPP/Actividad-Ionic.git</a>
            <!-- https://github.com/MiguelDPP/Actividad-Ionic.git -->
          </h3>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          version 1.0
        </ion-label>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>
